@model IEnumerable<SafetyTourism.Models.Recomendation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="main-btn" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th style="text-align:right;">
                @Html.DisplayNameFor(model => model.GeoZone)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tablehover" onclick="location.href = '@Url.Action("Details", new { id=item.RecomendationID })'">
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td style="text-align:center; background-color:rgba(0, 148, 255,0.5)">
                @Html.DisplayFor(modelItem => item.ExpirationDate) days
            </td>
            <td style="text-align:right;">
                @Html.DisplayFor(modelItem => item.GeoZone.GeoZoneName)
            </td>
        </tr>
}
    </tbody>
</table>
