@model IEnumerable<SafetyTourism.Models.Country>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="main-btn" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Country Name</a>
            </th>
            <th style="text-align:right;">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GeoZoneSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">GeoZone Name</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tablehover">
            <td onclick="location.href = '@Url.Action("Details", new { id=item.CountryID })'">
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td style="text-align:right;">
                @Html.DisplayFor(modelItem => item.GeoZone.GeoZoneName)
            </td>
           
        </tr>
}           
    </tbody>
</table>
